<!DOCTYPE html>
<html>
<head>
    <!-- Favicon -->
    <!--link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"-->

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type = "text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type = "text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type = "text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type = "text/javascript"  src="https://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
</head>
<body>
<div class="card">
 <div class="card-body">
  <form action=""{{ url_for('home') }}"" method="post" id="myform">
   <input type = "file" name = "fname"><br><br>
   <input type = "submit" name = "submit_button" value = "Preview"><br><br>
 
 
   <div class="mt-4">
     <table id="candidates" style="width: 50%">
      <thead>
       <tr>
        {% for header in headings %}
        <th>{{ header }}</th>
        {% endfor %}
       </tr>
      </thead>
      <tbody>
       {% for row in data %}
       <tr>
        <td>{{row.reciever_email}}</td>
        <td>{{row.state}}</td>
        <td>{{row.name}}</td>
        <td><input type="checkbox" name="check" value="{{row}}"></td>
       </tr>
       {% endfor %}
      </tbody>
     </table>
     <input type = "submit" name = "submit_button" value = "Send All Selected">
   </div>
  </form>
 </div>
</div>

<br>

{% for i in names %}

  <p> Email is sent to {{i}} </p>

{% endfor %}

<br>

</body>
<script type="text/javascript">
 $('#candidates').DataTable();
</script>
</html>